name: 05 - 2 - Filters and Activity Types

on:
  pull_request:
    types: 
      - closed
    branches: 
      - main

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Message
        run: echo "Running whenever a PR is closed AND base branch is main"
